docker/n8n/workflows/Architect Agent Workflow.json
{
    "name": "Architect Agent Workflow",
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "architect_prompt",
                            "value": "You are an engineering architect. Please read agent/onboarding/architect.md to get started",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2400, 208],
            "id": "a931b171-9017-4c45-85ba-815acf800090",
            "name": "Architect Prompt"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{ $('Launch Architect Agent').item.json.data.codebaseId }}\" \"Finished architect outline\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-1280, 112],
            "id": "6aaf11ac-43ee-40c1-9ca2-c06c889f68ee",
            "name": "Architect Git Commit",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "=\"{{ $execution.id }}\""
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{ $('Architect Webhook').item.json.body.codebaseId }}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.architect_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "architect"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{ $('Architect Webhook').item.json.body.debugMode }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2176, 208],
            "id": "28ed85c5-35ac-41d8-8939-22a7c7649843",
            "name": "Launch Architect Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-1952, 208],
            "id": "91ed5aa2-c77b-4727-846e-aa389fe8b5ef",
            "name": "Architect Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{ $json.data.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1728, 144],
            "id": "a56ee762-9d5b-4c42-bbe5-f2775f15ad08",
            "name": "Ping Architect Agent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-1504, 192],
            "id": "a5cb5c36-71ef-4125-b963-6e3851ce61f8",
            "name": "Architect Agent Status"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1280, 304],
            "id": "b96153dc-56d0-4b39-8f63-035a1f9bc42a",
            "name": "Architect Agent Failed"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-1056, 112],
            "id": "f04d7402-0a37-4112-93f1-bde41384b655",
            "name": "Finished"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "architect",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-2624, 208],
            "id": "34fee462-bf14-4ec1-90c2-637f1d3c0032",
            "name": "Architect Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        }
    ],
    "pinData": {},
    "connections": {
        "Architect Prompt": {
            "main": [
                [
                    {
                        "node": "Launch Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Architect Agent": {
            "main": [
                [
                    {
                        "node": "Architect Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping Architect Agent": {
            "main": [
                [
                    {
                        "node": "Architect Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Agent Status": {
            "main": [
                [
                    {
                        "node": "Architect Git Commit",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Architect Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Architect Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Git Commit": {
            "main": [
                [
                    {
                        "node": "Finished",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Webhook": {
            "main": [
                [
                    {
                        "node": "Architect Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "4b41a1b7-8fbf-4425-acb7-e4393ca192f9",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "NDhz5JjX3in82pUa",
    "tags": []
}
