docker/n8n/workflows/Architect Agent Workflow.json
{
    "name": "Architect Agent Workflow",
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "architect_prompt",
                            "value": "You are an engineering architect. Please read agent/onboarding/architect.md to get started",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2240, 240],
            "id": "a931b171-9017-4c45-85ba-815acf800090",
            "name": "Architect Prompt"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"Finished architect outline\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-1120, 144],
            "id": "6aaf11ac-43ee-40c1-9ca2-c06c889f68ee",
            "name": "Architect Git Commit",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.architect_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "architect"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2016, 240],
            "id": "28ed85c5-35ac-41d8-8939-22a7c7649843",
            "name": "Launch Architect Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-1792, 240],
            "id": "91ed5aa2-c77b-4727-846e-aa389fe8b5ef",
            "name": "Architect Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        },
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1568, 176],
            "id": "a56ee762-9d5b-4c42-bbe5-f2775f15ad08",
            "name": "Ping Architect Agent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-1344, 224],
            "id": "a5cb5c36-71ef-4125-b963-6e3851ce61f8",
            "name": "Architect Agent Status"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1120, 336],
            "id": "b96153dc-56d0-4b39-8f63-035a1f9bc42a",
            "name": "Architect Agent Failed"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d89405c9-f253-4e5a-8b52-72e462c938df",
                            "name": "codebaseId",
                            "value": "={{ $('Architect Webhook').first(0).json.body.codebaseId }}",
                            "type": "string"
                        },
                        {
                            "id": "1856733a-6db7-409a-a79b-234792fabacc",
                            "name": "debugMode",
                            "value": "={{ $('Architect Webhook').first(0).json.body.debugMode }}",
                            "type": "boolean"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2464, 240],
            "id": "08f97d49-1a07-44a5-b5ba-0448635f21a4",
            "name": "GlobalVars"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://app:3000/api/codebase/{{$('GlobalVars').all()[0].json.codebaseId}}/phase",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $executionId }}"
                        },
                        {
                            "name": "phase",
                            "value": "PLANNING"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-896, 144],
            "id": "cbfcd180-d316-4e7f-b207-0ff8418fee0c",
            "name": "Transition to Planning Phase"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [-2464, 48],
            "id": "ec494118-d7ca-4877-be45-538c25b7267d",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "architect",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-2688, 144],
            "id": "ab2125c7-e24d-4653-85c6-2f0689a1aae1",
            "name": "Architect Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/pm",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('GlobalVars').all()[0].json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-672, 144],
            "id": "15d5f845-9dfb-470c-b795-a7b4cf3b8951",
            "name": "Trigger PM Agent"
        }
    ],
    "pinData": {},
    "connections": {
        "Architect Prompt": {
            "main": [
                [
                    {
                        "node": "Launch Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Architect Agent": {
            "main": [
                [
                    {
                        "node": "Architect Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping Architect Agent": {
            "main": [
                [
                    {
                        "node": "Architect Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Agent Status": {
            "main": [
                [
                    {
                        "node": "Architect Git Commit",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Architect Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Architect Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Git Commit": {
            "main": [
                [
                    {
                        "node": "Transition to Planning Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GlobalVars": {
            "main": [
                [
                    {
                        "node": "Architect Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transition to Planning Phase": {
            "main": [
                [
                    {
                        "node": "Trigger PM Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "GlobalVars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "cf15a436-6feb-47ed-b709-800646021fa8",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "NDhz5JjX3in82pUa",
    "tags": []
}
