docker/n8n/workflows/Dev Agent Workflow.json
{
    "name": "Dev Agent Workflow",
    "nodes": [
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"Finished work for ticket {{ $('GlobalVars').last().json.nextTicket.id }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-1920, 1120],
            "id": "df8be668-534a-4cf9-805e-3f341f63fe1d",
            "name": "Commit Dev Work",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $('Dev Prompt').last().json.dev_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "developer"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2816, 1216],
            "id": "a3341c3c-e95c-44e0-878b-cc6cfc283c8d",
            "name": "Launch Dev Agent"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "dev_prompt",
                            "value": "=You are an expert senior software engineer. You have been assigned ticket {{ $('GlobalVars').last().json.nextTicket.ticketId }}. Please read {{$('GlobalVars').last().json.agentFolder}}/onboarding/engineer.md and then {{ $('GlobalVars').last().json.nextTicket.ticketFile }} to get started. You have full autonomy and do not need permission for anything. ",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-3040, 1216],
            "id": "fdc7ec20-07ad-479e-91b9-adaf0bd2d13b",
            "name": "Dev Prompt"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-2592, 1216],
            "id": "d535f174-f7c0-4b28-beb1-f38dadfb5b84",
            "name": "Dev Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        },
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2368, 1152],
            "id": "e0e57565-5417-4214-80a8-ef56a4320af0",
            "name": "Ping Dev Agent"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1920, 1312],
            "id": "48bf697d-50d4-4762-a199-b31f231c3221",
            "name": "Dev Agent Failed"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-2144, 1200],
            "id": "23e00e4d-40c5-4b7f-b1f9-90cdb9933eaa",
            "name": "Dev Agent Status"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/checkout_branch.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"{{ $json.nextTicket.branchName }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-3488, 1312],
            "id": "6134870d-45c1-4d9c-9e89-57e58e71e4b7",
            "name": "Switch to Git Branch",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [-3712, 1120],
            "id": "4fa0873d-e5b4-41ae-a009-094b4c504bba",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "development",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-3936, 1216],
            "id": "a387b35c-fac9-4547-b361-87eb99548e75",
            "name": "Dev Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d89405c9-f253-4e5a-8b52-72e462c938df",
                            "name": "codebaseId",
                            "value": "={{ $json.body.codebaseId }}",
                            "type": "string"
                        },
                        {
                            "id": "1856733a-6db7-409a-a79b-234792fabacc",
                            "name": "debugMode",
                            "value": "={{ $json.body.debugMode }}",
                            "type": "boolean"
                        },
                        {
                            "id": "fd1d59c2-3700-432f-8ab7-cf4979f4a906",
                            "name": "codebasePath",
                            "value": "={{ $json.body.codebasePath }}",
                            "type": "string"
                        },
                        {
                            "id": "1978415e-66e2-44f2-a926-bdf6fba8ad11",
                            "name": "codebaseName",
                            "value": "={{ $json.body.codebaseName }}",
                            "type": "string"
                        },
                        {
                            "id": "0efc45af-5d16-4ff0-b8cf-2ec45e567007",
                            "name": "agentFolder",
                            "value": "={{ $json.body.agentFolder }}",
                            "type": "string"
                        },
                        {
                            "id": "563b4cd4-e987-4c0d-8f67-534d4b0f3164",
                            "name": "nextTicket",
                            "value": "={{ $json.body.nextTicket }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-3712, 1312],
            "id": "aa3540c5-b008-4ccd-bc80-f7aab33aa791",
            "name": "GlobalVars"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/qa",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('GlobalVars').all()[0].json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-1696, 1120],
            "id": "c391711c-a1ca-49f7-a76f-88a0afc3df7d",
            "name": "Trigger QA Agent"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "3e2bf146-4fd2-49da-bd8e-63d06c88daf5",
                            "leftValue": "={{ $json.code }}",
                            "rightValue": "0",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [-3264, 1312],
            "id": "5e9a1ef3-bb6a-4310-ab03-debfa4c30402",
            "name": "Switched to Branch"
        },
        {
            "parameters": {
                "errorMessage": "Failed to Switch to Correct Branch"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-3040, 1408],
            "id": "e1a2ee8a-03a3-401e-8ccb-222f5efca222",
            "name": "Incorrect Branch"
        }
    ],
    "pinData": {},
    "connections": {
        "Commit Dev Work": {
            "main": [
                [
                    {
                        "node": "Trigger QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Dev Agent": {
            "main": [
                [
                    {
                        "node": "Dev Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Prompt": {
            "main": [
                [
                    {
                        "node": "Launch Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping Dev Agent": {
            "main": [
                [
                    {
                        "node": "Dev Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Agent Status": {
            "main": [
                [
                    {
                        "node": "Commit Dev Work",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch to Git Branch": {
            "main": [
                [
                    {
                        "node": "Switched to Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "GlobalVars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GlobalVars": {
            "main": [
                [
                    {
                        "node": "Switch to Git Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switched to Branch": {
            "main": [
                [
                    {
                        "node": "Dev Prompt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Incorrect Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "6d2ab7b1-5e69-4209-9e39-d476564ec67f",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "SJZoRz7jpPdrhCfz",
    "tags": []
}
