docker/n8n/workflows/Dev Agent Workflow.json
{
    "name": "Dev Agent Workflow",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/tickets/scan",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{ $json.item.json.body.codebaseId }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-3520, 784],
            "id": "6c3267be-6e21-471d-94fd-50b1b0256bc8",
            "name": "Scan Tickets"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{ $('Dev Webhook').item.json.body.codebaseId }}\" \"Finished work for ticket {{ $('Scan Tickets').item.json.data.nextTicket.id }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-944, 640],
            "id": "c12d8a2a-10ab-42d7-b628-0f206a3ca235",
            "name": "Commit Dev Work",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{ $('Dev Webhook').item.json.body.codebaseId }}\" \"QA review finished for {{ $('Scan Tickets').item.json.data.nextTicket.id }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [720, 608],
            "id": "bc2a283c-51f0-4486-8cf4-94e1abe2f03a",
            "name": "Commit QA Work",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{ $('Dev Webhook').item.json.body.codebaseId }}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $('Dev Prompt').item.json.dev_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "developer"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2400, 272],
            "id": "d9a4f481-bb55-4826-8d9b-f8d9216bb1c0",
            "name": "Launch Dev Agent"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "qa_prompt",
                            "value": "=You are an expert quality assurance engineer. You have been assigned ticket {{ $('Scan Tickets').item.json.data.nextTicket.ticketId }}. Please read agent/onboarding/qa.md and then {{ $('Scan Tickets').item.json.data.nextTicket.ticketFile }} to get started.",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-496, 640],
            "id": "ee0128bf-aa72-42bb-9f77-e7538a660990",
            "name": "QA Prompt"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{ $('Scan Tickets').item.json.data.codebaseId }}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.qa_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "qa"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-272, 640],
            "id": "76c8044c-423a-4966-883e-a3b42388041c",
            "name": "Launch QA Agent"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "dev_prompt",
                            "value": "=You are an expert senior software engineer. You have been assigned ticket {{ $('Scan Tickets').item.json.data.nextTicket.ticketId }}. Please read agent/onboarding/engineer.md and then {{ $('Scan Tickets').item.json.data.nextTicket.ticketFile }} to get started.",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2624, 352],
            "id": "8f78ac1d-867a-45ce-9a96-c62e2a3dfa4f",
            "name": "Dev Prompt"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-2176, 272],
            "id": "c6394e89-506d-47e8-b854-2ccdd25c1838",
            "name": "Dev Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1952, 208],
            "id": "c9174298-7d36-47c6-8ac4-2c74750551c4",
            "name": "Ping Dev Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-48, 640],
            "id": "bd87add3-db61-404e-97ee-00b9fc72114f",
            "name": "QA Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [176, 576],
            "id": "a205d7d3-7262-40a6-a00c-fdb08898c1e3",
            "name": "Ping QA Agent"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1504, 368],
            "id": "6cd83539-3237-4935-ac62-d1d385d974c9",
            "name": "Dev Agent Failed"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-1728, 256],
            "id": "20e311b7-935c-4d92-8643-63a8dc9961bf",
            "name": "Dev Agent Status"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [400, 624],
            "id": "fb0dca0d-c0fc-44f3-942c-5177b6c393ab",
            "name": "QA Agent Status"
        },
        {
            "parameters": {
                "errorMessage": "QA Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [624, 736],
            "id": "e715263a-65de-49cd-bcf6-3c87694e03ee",
            "name": "QA Agent Failed"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/complete_feature.sh \"{{ $('Dev Params').item.json.codebaseId }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [1392, 1088],
            "id": "aff62ddf-430b-4ef4-adda-0d69022e47e6",
            "name": "Complete Feature",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "3b724128-1f34-4069-9804-83b084ee703e",
                                        "leftValue": "={{ [\"OPEN\", \"QA_CHANGES_REQUESTED\"] }}",
                                        "rightValue": "={{ $json.data.nextTicket.status }}",
                                        "operator": {
                                            "type": "array",
                                            "operation": "contains",
                                            "rightType": "any"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "797ba88c-a94a-4c26-82d2-bad7528d2280",
                                        "leftValue": "={{ $json.data.nextTicket.status }}",
                                        "rightValue": "QA_REVIEW",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.nextTicket.id }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "notExists",
                                            "singleValue": true
                                        },
                                        "id": "6ad3e92c-152d-4a32-be0d-4df6ee4e156d"
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-3296, 624],
            "id": "decdbd46-f9b4-4f98-9e4e-17cd5b9599df",
            "name": "Next Ticket Router"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-720, 640],
            "id": "b7b65fb2-fef5-40fb-96d7-336d1964ea01",
            "name": "In QA"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-3072, 784],
            "id": "3e6295ef-6dbb-481e-b682-20e863087017",
            "name": "Project Completed"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/tickets/{{ $('Scan Tickets').item.json.data.nextTicket.id }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [944, 608],
            "id": "23a28fc6-b80d-47bb-80f9-a9612ded054a",
            "name": "Check Ticket Status"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "6c4ccc88-9c8b-4336-8858-403210fd3ab2",
                            "leftValue": "={{ $json.data.ticket.status }}",
                            "rightValue": "CLOSED",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [1168, 864],
            "id": "bf02fa04-f65b-42df-8620-96baeac8ccb4",
            "name": "Passed QA?"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-3072, 352],
            "id": "dba7d92d-38b7-493c-a6f5-2dfb8e2efef1",
            "name": "In Development"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_branch.sh \"{{ $('Dev Webhook').item.json.body.codebaseId }}\" \"{{ $('Scan Tickets').item.json.data.nextTicket.branchName }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-2848, 352],
            "id": "84e8c8f4-5203-4432-9481-17352893de8f",
            "name": "Switch to Git Branch",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dev",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-3744, 784],
            "id": "f6bd7288-7e08-46a4-afe3-d19a28766b18",
            "name": "Dev Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        }
    ],
    "pinData": {},
    "connections": {
        "Scan Tickets": {
            "main": [
                [
                    {
                        "node": "Next Ticket Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Commit Dev Work": {
            "main": [
                [
                    {
                        "node": "In QA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Commit QA Work": {
            "main": [
                [
                    {
                        "node": "Check Ticket Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Dev Agent": {
            "main": [
                [
                    {
                        "node": "Dev Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Prompt": {
            "main": [
                [
                    {
                        "node": "Launch QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch QA Agent": {
            "main": [
                [
                    {
                        "node": "QA Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Prompt": {
            "main": [
                [
                    {
                        "node": "Launch Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping Dev Agent": {
            "main": [
                [
                    {
                        "node": "Dev Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping QA Agent": {
            "main": [
                [
                    {
                        "node": "QA Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Agent Status": {
            "main": [
                [
                    {
                        "node": "Commit Dev Work",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Agent Status": {
            "main": [
                [
                    {
                        "node": "Commit QA Work",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "QA Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "QA Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Complete Feature": {
            "main": [
                [
                    {
                        "node": "Scan Tickets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Next Ticket Router": {
            "main": [
                [
                    {
                        "node": "In Development",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "In QA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Project Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "In QA": {
            "main": [
                [
                    {
                        "node": "QA Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Project Completed": {
            "main": [[]]
        },
        "Check Ticket Status": {
            "main": [
                [
                    {
                        "node": "Passed QA?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Passed QA?": {
            "main": [
                [
                    {
                        "node": "Complete Feature",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "In Development": {
            "main": [
                [
                    {
                        "node": "Switch to Git Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch to Git Branch": {
            "main": [
                [
                    {
                        "node": "Dev Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Webhook": {
            "main": [
                [
                    {
                        "node": "Scan Tickets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "685a1429-e1ca-40fe-a4b7-a38f2e4bdb1d",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "SJZoRz7jpPdrhCfz",
    "tags": []
}
