docker/n8n/workflows/Master Workflow.json
{
    "name": "Master Workflow",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/tickets/scan",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-3120, 1536],
            "id": "ddd414db-b734-48bd-9071-d645f00b7aad",
            "name": "Scan Tickets"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"Finished work for ticket {{ $('Scan Tickets').last().json.data.nextTicket.id }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-1104, 944],
            "id": "df8be668-534a-4cf9-805e-3f341f63fe1d",
            "name": "Commit Dev Work",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"QA review finished for {{ $('Scan Tickets').last().json.data.nextTicket.id }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [592, 1312],
            "id": "ea3d9f4b-c7e9-4eed-b7fb-d9854274e525",
            "name": "Commit QA Work",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $('Dev Prompt').last().json.dev_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "developer"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2000, 1040],
            "id": "a3341c3c-e95c-44e0-878b-cc6cfc283c8d",
            "name": "Launch Dev Agent"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "qa_prompt",
                            "value": "=You are an expert quality assurance engineer. You have been assigned ticket {{ $('Scan Tickets').last().json.data.nextTicket.ticketId }}. Please read agent/onboarding/qa.md and then {{ $('Scan Tickets').last().json.data.nextTicket.ticketFile }} to get started.",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-528, 1408],
            "id": "ea29ba87-a32b-4540-8fdd-93adbf9a0ede",
            "name": "QA Prompt"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.qa_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "qa"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{ $('GlobalVars').all()[0].json.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-304, 1408],
            "id": "bd45edc9-5d20-4bf9-be40-eff50715b73a",
            "name": "Launch QA Agent"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "dev_prompt",
                            "value": "=You are an expert senior software engineer. You have been assigned ticket {{ $('Scan Tickets').last().json.data.nextTicket.ticketId }}. Please read agent/onboarding/engineer.md and then {{ $('Scan Tickets').last().json.data.nextTicket.ticketFile }} to get started.",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2224, 1184],
            "id": "fdc7ec20-07ad-479e-91b9-adaf0bd2d13b",
            "name": "Dev Prompt"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-1776, 1040],
            "id": "d535f174-f7c0-4b28-beb1-f38dadfb5b84",
            "name": "Dev Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1552, 960],
            "id": "e0e57565-5417-4214-80a8-ef56a4320af0",
            "name": "Ping Dev Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-80, 1408],
            "id": "0ac745ac-4826-4d07-810c-8dadfb56c9d7",
            "name": "QA Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [144, 1328],
            "id": "dd767fbb-73d1-4e1a-bc84-3825b208b3cc",
            "name": "Ping QA Agent"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1104, 1136],
            "id": "48bf697d-50d4-4762-a199-b31f231c3221",
            "name": "Dev Agent Failed"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-1328, 1024],
            "id": "23e00e4d-40c5-4b7f-b1f9-90cdb9933eaa",
            "name": "Dev Agent Status"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [368, 1392],
            "id": "3bc97a9a-fafe-42a5-b26f-10663872b4b4",
            "name": "QA Agent Status"
        },
        {
            "parameters": {
                "errorMessage": "QA Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [592, 1504],
            "id": "9de5462c-1bd4-4b22-a27a-79e77544a7d3",
            "name": "QA Agent Failed"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/complete_feature.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [1264, 1888],
            "id": "01d09cda-fe20-4ef0-bf71-f31d0e781f9c",
            "name": "Complete Feature",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "3b724128-1f34-4069-9804-83b084ee703e",
                                        "leftValue": "={{ [\"OPEN\", \"QA_CHANGES_REQUESTED\"] }}",
                                        "rightValue": "={{ $json.data.nextTicket.status }}",
                                        "operator": {
                                            "type": "array",
                                            "operation": "contains",
                                            "rightType": "any"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "797ba88c-a94a-4c26-82d2-bad7528d2280",
                                        "leftValue": "={{ $json.data.nextTicket.status }}",
                                        "rightValue": "QA_REVIEW",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.nextTicket.id }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "notExists",
                                            "singleValue": true
                                        },
                                        "id": "6ad3e92c-152d-4a32-be0d-4df6ee4e156d"
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-2896, 1376],
            "id": "c1274209-8f55-4d2f-a3e8-f91a92449a2e",
            "name": "Next Ticket Router"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-752, 1408],
            "id": "c7dcdb5f-580c-4de1-a6d3-04dc82f862ac",
            "name": "In QA"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-2448, 1552],
            "id": "c03282e7-b309-47a7-a80b-c76ff41b19c9",
            "name": "Project Completed"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/tickets/{{ $('Scan Tickets').last().json.data.nextTicket.id }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [816, 1312],
            "id": "407bcb6f-18cd-4277-a94d-e0fe115938e0",
            "name": "Check Ticket Status"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "6c4ccc88-9c8b-4336-8858-403210fd3ab2",
                            "leftValue": "={{ $json.data.ticket.status }}",
                            "rightValue": "CLOSED",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [1040, 1648],
            "id": "4d3d11f4-14da-4ec5-bb56-b761e18aba38",
            "name": "Passed QA?"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [-2672, 1184],
            "id": "3f9248b0-7a4e-400f-ad58-f61023857bfd",
            "name": "In Development"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_branch.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"{{ $('Scan Tickets').last().json.data.nextTicket.branchName }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-2448, 1184],
            "id": "6134870d-45c1-4d9c-9e89-57e58e71e4b7",
            "name": "Switch to Git Branch",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [-4416, -160],
            "id": "861d95d9-39a9-4f63-9b96-a56271cb4a17",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "7371c075-652f-44df-a014-42f5e1df7b63",
                            "name": "codebaseId",
                            "value": "={{ $('Master Webhook').first(0).json.body.codebaseId }}",
                            "type": "string"
                        },
                        {
                            "id": "dee5b041-6021-488d-bba0-f09594a99995",
                            "name": "debugMode",
                            "value": "={{ $('Master Webhook').first(0).json.body.debugMode }}",
                            "type": "boolean"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-4416, 32],
            "id": "a4d373d1-f137-4f2b-9683-cf5d81001e23",
            "name": "GlobalVars"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.phase }}",
                                        "rightValue": "DESIGN",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "ecf793f5-458d-4423-a77c-c48f2c3976eb"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "73781bff-09ef-4132-9bf6-8f884163134c",
                                        "leftValue": "={{ $json.body.phase }}",
                                        "rightValue": "PLANNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "c0b82c85-ee5e-4b29-974c-e458ea8c6619",
                                        "leftValue": "={{ $json.body.phase }}",
                                        "rightValue": "DEVELOPMENT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-3648, 208],
            "id": "e8dc17a1-d84c-4a56-b8df-b43b2b9c8a99",
            "name": "Project Phase Router"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"Finished project sprint planning\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-1216, 48],
            "id": "4ac35623-6220-4dd9-bb51-e38c24b531f4",
            "name": "PM Git Commit",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "pm_prompt",
                            "value": "You are an expert software project manager. Please read agent/onboarding/pm.md to get started",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2336, 224],
            "id": "07bdd7b2-b0b5-49a3-b8ca-759286e3127b",
            "name": "PM Prompt"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.pm_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "manager"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        },
                        {
                            "name": "model",
                            "value": "={{ $json.model }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2112, 224],
            "id": "5716088e-b535-49e2-8e4d-a725b44aa231",
            "name": "Launch PM Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-1888, 224],
            "id": "47bc0553-c7ba-4d9d-b70c-6224851180da",
            "name": "PM Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1664, 16],
            "id": "c55a03ab-d58c-40f2-8aa9-df0242c5b4f6",
            "name": "Ping PM Agent"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1216, 240],
            "id": "b3aebf69-aff2-465e-91fb-8f3367dc7f6f",
            "name": "PM Agent Failed"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-1440, 208],
            "id": "ca92e611-00bc-4dcf-90ab-16035c21c49c",
            "name": "PM Agent Status"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "architect_prompt",
                            "value": "You are an engineering architect. Please read agent/onboarding/architect.md to get started",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-3168, -512],
            "id": "635bb286-c74f-4a44-8934-5c64f877c2c6",
            "name": "Architect Prompt"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"Finished architect outline\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-2048, -688],
            "id": "97e02f1d-26a7-4643-bcba-9fa5697fbd53",
            "name": "Architect Git Commit",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.architect_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "architect"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars2').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2944, -512],
            "id": "e7a749b0-69aa-492e-96df-ed85534dc570",
            "name": "Launch Architect Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-2720, -512],
            "id": "e8526419-bb44-49bf-a393-420d6fde0211",
            "name": "Architect Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2496, -656],
            "id": "098313f3-cb46-4ab6-949c-98702049cc02",
            "name": "Ping Architect Agent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-2272, -528],
            "id": "a05d69f8-237f-4dd7-8a34-32500e1a552a",
            "name": "Architect Agent Status"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-2048, -496],
            "id": "aa49025f-1f84-45e9-998f-d1dc143b5cdd",
            "name": "Architect Agent Failed"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "master",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-4640, -64],
            "id": "65162718-9c07-4fb6-9092-c3ea6166d625",
            "name": "Master Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://app:3000/api/codebase/{{$('GlobalVars').last().json.body.codebaseId}}/phase",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $executionId }}"
                        },
                        {
                            "name": "phase",
                            "value": "PLANNING"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-1664, -400],
            "id": "2ad5f67a-6f27-4961-8633-18a9af83ad66",
            "name": "Transition to Planning Phase"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/codebase/{{$('GlobalVars').last().json.body.codebaseId}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-4192, 32],
            "id": "272c835b-4121-4f6a-87c2-6c64a8b3b617",
            "name": "Get Project Phase"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://app:3000/api/codebase/{{$('GlobalVars').last().json.body.codebaseId}}/phase",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "phase",
                            "value": "DEVELOPMENT"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-880, 320],
            "id": "7fd831a5-8fa6-47be-96a7-f902dfab2f39",
            "name": "Transition to Development Phase"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://app:3000/api/codebase/{{$('GlobalVars').last().json.body.codebaseId}}/phase",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "phase",
                            "value": "COMPLETED"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-2672, 1552],
            "id": "f012831d-6b3f-44e6-be3a-24ab63bbc824",
            "name": "Transition to Completed Phase"
        }
    ],
    "pinData": {},
    "connections": {
        "Scan Tickets": {
            "main": [
                [
                    {
                        "node": "Next Ticket Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Commit Dev Work": {
            "main": [
                [
                    {
                        "node": "In QA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Commit QA Work": {
            "main": [
                [
                    {
                        "node": "Check Ticket Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Dev Agent": {
            "main": [
                [
                    {
                        "node": "Dev Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Prompt": {
            "main": [
                [
                    {
                        "node": "Launch QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch QA Agent": {
            "main": [
                [
                    {
                        "node": "QA Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Prompt": {
            "main": [
                [
                    {
                        "node": "Launch Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping Dev Agent": {
            "main": [
                [
                    {
                        "node": "Dev Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping QA Agent": {
            "main": [
                [
                    {
                        "node": "QA Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dev Agent Status": {
            "main": [
                [
                    {
                        "node": "Commit Dev Work",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Agent Status": {
            "main": [
                [
                    {
                        "node": "Commit QA Work",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "QA Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "QA Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Complete Feature": {
            "main": [
                [
                    {
                        "node": "Scan Tickets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Next Ticket Router": {
            "main": [
                [
                    {
                        "node": "In Development",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "In QA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Transition to Completed Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "In QA": {
            "main": [
                [
                    {
                        "node": "QA Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Ticket Status": {
            "main": [
                [
                    {
                        "node": "Passed QA?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Passed QA?": {
            "main": [
                [
                    {
                        "node": "Complete Feature",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dev Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "In Development": {
            "main": [
                [
                    {
                        "node": "Switch to Git Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch to Git Branch": {
            "main": [
                [
                    {
                        "node": "Dev Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GlobalVars": {
            "main": [
                [
                    {
                        "node": "Get Project Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Project Phase Router": {
            "main": [
                [
                    {
                        "node": "Architect Prompt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PM Prompt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Scan Tickets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Git Commit": {
            "main": [
                [
                    {
                        "node": "Transition to Development Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Prompt": {
            "main": [
                [
                    {
                        "node": "Launch PM Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch PM Agent": {
            "main": [
                [
                    {
                        "node": "PM Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping PM Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping PM Agent": {
            "main": [
                [
                    {
                        "node": "PM Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Agent Status": {
            "main": [
                [
                    {
                        "node": "PM Git Commit",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PM Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PM Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Prompt": {
            "main": [
                [
                    {
                        "node": "Launch Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Git Commit": {
            "main": [
                [
                    {
                        "node": "Transition to Planning Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Architect Agent": {
            "main": [
                [
                    {
                        "node": "Architect Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping Architect Agent": {
            "main": [
                [
                    {
                        "node": "Architect Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Architect Agent Status": {
            "main": [
                [
                    {
                        "node": "Architect Git Commit",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Architect Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Architect Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Master Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "GlobalVars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transition to Planning Phase": {
            "main": [
                [
                    {
                        "node": "Get Project Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Project Phase": {
            "main": [
                [
                    {
                        "node": "Project Phase Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transition to Development Phase": {
            "main": [
                [
                    {
                        "node": "Get Project Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transition to Completed Phase": {
            "main": [
                [
                    {
                        "node": "Project Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "e7b203db-37f7-4811-91fa-6eeeb3205b4d",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "SJZoRz7jpPdrhCfz",
    "tags": []
}
