docker/n8n/workflows/Master Workflow.json
{
    "name": "Master Workflow",
    "nodes": [
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [-96, -96],
            "id": "d5988481-b0cf-469f-9305-a56b7316916f",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.codebase.phase }}",
                                        "rightValue": "DESIGN",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "ecf793f5-458d-4423-a77c-c48f2c3976eb"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "73781bff-09ef-4132-9bf6-8f884163134c",
                                        "leftValue": "={{ $json.data.codebase.phase }}",
                                        "rightValue": "PLANNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "c0b82c85-ee5e-4b29-974c-e458ea8c6619",
                                        "leftValue": "={{ $json.data.codebase.phase }}",
                                        "rightValue": "DEVELOPMENT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [128, 80],
            "id": "6228cf4e-43f0-4aff-83ef-719d259817bc",
            "name": "Project Phase Router"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "master",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-320, 0],
            "id": "3f1198be-2290-4286-9483-6056deb2719d",
            "name": "Master Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/codebase/{{$json.body.codebaseId}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-96, 96],
            "id": "f1ee80f0-d076-4da8-a49b-1b3f6b8aeb02",
            "name": "Get Project Phase"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/pm",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('Master Webhook').first().json.body }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [352, 96],
            "id": "a081ff73-a2bf-461e-80b7-c164338e5cfd",
            "name": "Trigger PM Agent"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/architect",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('Master Webhook').first().json.body }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [352, -96],
            "id": "32907cba-1174-437b-aa16-b1cea952b909",
            "name": "Trigger Architect Agent"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/development",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('Master Webhook').first().json.body }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [352, 288],
            "id": "4e692f89-8eb7-4c17-9418-a749a86bd26a",
            "name": "Trigger Development Agents"
        }
    ],
    "pinData": {},
    "connections": {
        "Master Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Project Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Project Phase": {
            "main": [
                [
                    {
                        "node": "Project Phase Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Project Phase Router": {
            "main": [
                [
                    {
                        "node": "Trigger Architect Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Trigger PM Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Trigger Development Agents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "cc0bbe13-408e-4726-bf54-d9da38146422",
    "meta": {
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "aVL8clAf4YrsvI3I",
    "tags": []
}
