docker/n8n/workflows/Project Manager Agent Workflow.json
{
    "name": "Project Manager Agent Workflow",
    "nodes": [
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"Finished project sprint planning\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-1296, 272],
            "id": "2b261cc2-ae5c-4604-912f-b56bf5b7f38c",
            "name": "PM Git Commit",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "pm_prompt",
                            "value": "=You are an expert software project manager. Please read {{$json.agentFolder}}/onboarding/pm.md to get started. You have full autonomy and do not need permission for anything. ",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2416, 368],
            "id": "1ba6388d-02f1-4ee4-8fd4-dce610dd1c3e",
            "name": "PM Prompt"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.pm_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "manager"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        },
                        {
                            "name": "model",
                            "value": "={{ $json.model }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-2192, 368],
            "id": "30db135b-d0da-48ef-a096-effac36d39a9",
            "name": "Launch PM Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-1968, 368],
            "id": "c61a0ece-e7f6-4ef0-b1bf-9ff014ee99f6",
            "name": "PM Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        },
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1744, 296],
            "id": "f40361af-f774-409c-ac29-99104f8251fd",
            "name": "Ping PM Agent"
        },
        {
            "parameters": {
                "errorMessage": "Dev Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1296, 464],
            "id": "c84cd641-d421-4a8d-9f0d-ee3c1957db81",
            "name": "PM Agent Failed"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-1520, 352],
            "id": "db99edb6-5de2-4328-bc88-e7b772287101",
            "name": "PM Agent Status"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://app:3000/api/codebase/{{$('GlobalVars').all()[0].json.codebaseId}}/phase",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "phase",
                            "value": "DEVELOPMENT"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-1072, 272],
            "id": "e4af0d27-608d-4c8a-ba02-120018d428e2",
            "name": "Transition to Development Phase"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [-2640, 176],
            "id": "7184f4cf-29ee-4b19-b58e-bdffe9a346f4",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "pm",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-2864, 272],
            "id": "37890509-af10-40f6-8fdf-0f205e252981",
            "name": "PM Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d89405c9-f253-4e5a-8b52-72e462c938df",
                            "name": "codebaseId",
                            "value": "={{ $json.body.codebaseId }}",
                            "type": "string"
                        },
                        {
                            "id": "1856733a-6db7-409a-a79b-234792fabacc",
                            "name": "debugMode",
                            "value": "={{ $json.body.debugMode }}",
                            "type": "boolean"
                        },
                        {
                            "id": "fd1d59c2-3700-432f-8ab7-cf4979f4a906",
                            "name": "codebasePath",
                            "value": "={{ $json.body.codebasePath }}",
                            "type": "string"
                        },
                        {
                            "id": "1978415e-66e2-44f2-a926-bdf6fba8ad11",
                            "name": "codebaseName",
                            "value": "={{ $json.body.codebaseName }}",
                            "type": "string"
                        },
                        {
                            "id": "0efc45af-5d16-4ff0-b8cf-2ec45e567007",
                            "name": "agentFolder",
                            "value": "={{ $json.body.agentFolder }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2640, 368],
            "id": "c39d20dc-ba5c-4034-b7f5-7623607fb662",
            "name": "GlobalVars"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/master",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('GlobalVars').all()[0].json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [-848, 272],
            "id": "464b2707-aa0c-421a-8c25-5a1ee1fb32ed",
            "name": "Return to Master Handler"
        }
    ],
    "pinData": {},
    "connections": {
        "PM Prompt": {
            "main": [
                [
                    {
                        "node": "Launch PM Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch PM Agent": {
            "main": [
                [
                    {
                        "node": "PM Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping PM Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping PM Agent": {
            "main": [
                [
                    {
                        "node": "PM Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Git Commit": {
            "main": [
                [
                    {
                        "node": "Transition to Development Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Agent Status": {
            "main": [
                [
                    {
                        "node": "PM Git Commit",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PM Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "PM Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transition to Development Phase": {
            "main": [
                [
                    {
                        "node": "Return to Master Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PM Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "GlobalVars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GlobalVars": {
            "main": [
                [
                    {
                        "node": "PM Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "76bac776-9899-43b5-926c-1c4ce45c0aca",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "92EaqrdxBQe12c2B",
    "tags": []
}
