docker/n8n/workflows/QA Agent Workflow.json
{
    "name": "QA Agent Workflow",
    "nodes": [
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/api/scriptsts/n8n/git/git_commit.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\" \"QA review finished for {{ $('GlobalVars').all()[0].json.nextTicket.id }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-448, 448],
            "id": "c5184289-82c7-4966-847f-dd253cbdd1dc",
            "name": "Commit QA Work",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                            "name": "qa_prompt",
                            "value": "=You are an expert quality assurance engineer. You have been assigned ticket {{ $('GlobalVars').first().json.nextTicket.ticketId }}. Please read {{$('GlobalVars').first().json.agentFolder}}/onboarding/qa.md and then {{ $('GlobalVars').first().json.nextTicket.ticketFile }} to get started. You have full autonomy and do not need permission for anything. ",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-1568, 544],
            "id": "40d3b321-2ad4-4d1f-aba2-c43caace0313",
            "name": "QA Prompt"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://app:3000/api/agent/start",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        },
                        {
                            "name": "codebaseId",
                            "value": "={{$('GlobalVars').all()[0].json.codebaseId}}"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.qa_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "qa"
                        },
                        {
                            "name": "debugMode",
                            "value": "={{ $('GlobalVars').all()[0].json.debugMode }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1344, 544],
            "id": "18329cc1-31f3-4a2f-aec5-99833ea08b76",
            "name": "Launch QA Agent"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [-1120, 544],
            "id": "eb45f9d7-e667-438b-a403-fa63a4ed1205",
            "name": "QA Poll Delay",
            "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "debugMode",
                            "value": "={{$('GlobalVars').all()[0].json.debugMode}}"
                        },
                        {
                            "name": "executionId",
                            "value": "={{ $execution.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-896, 480],
            "id": "60683b9e-88f7-4fb2-a5b5-aea416a18c04",
            "name": "Ping QA Agent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "COMPLETED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "FAILED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                        "leftValue": "={{ $json.data.status }}",
                                        "rightValue": "RUNNING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [-672, 528],
            "id": "dcc3ebd1-b5c1-43e9-9981-d3289384d75d",
            "name": "QA Agent Status"
        },
        {
            "parameters": {
                "errorMessage": "QA Agent Failed"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-448, 640],
            "id": "9f2da95c-279c-4c98-93a4-728e06b56ec6",
            "name": "QA Agent Failed"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/api/scriptsts/n8n/git/complete_feature.sh \"{{$('GlobalVars').all()[0].json.codebaseId}}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [224, 352],
            "id": "aa9565e3-9004-4283-9552-df675b5192c8",
            "name": "Complete Feature",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "url": "=http://app:3000/api/tickets/{{ $('GlobalVars').all()[0].json.nextTicket.id }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-224, 448],
            "id": "32a25a9a-273c-4e00-a454-2d6a2cf6e122",
            "name": "Check Ticket Status"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "6c4ccc88-9c8b-4336-8858-403210fd3ab2",
                            "leftValue": "={{ $json.data.ticket.status }}",
                            "rightValue": "CLOSED",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [0, 448],
            "id": "62f335a6-eb8d-4bc4-a016-a955f36b265b",
            "name": "Passed QA?"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [-2240, 448],
            "id": "341fa481-ea11-40be-b0de-c1c65f398c8e",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d89405c9-f253-4e5a-8b52-72e462c938df",
                            "name": "codebaseId",
                            "value": "={{ $json.body.codebaseId }}",
                            "type": "string"
                        },
                        {
                            "id": "1856733a-6db7-409a-a79b-234792fabacc",
                            "name": "debugMode",
                            "value": "={{ $json.body.debugMode }}",
                            "type": "boolean"
                        },
                        {
                            "id": "fd1d59c2-3700-432f-8ab7-cf4979f4a906",
                            "name": "codebasePath",
                            "value": "={{ $json.body.codebasePath }}",
                            "type": "string"
                        },
                        {
                            "id": "1978415e-66e2-44f2-a926-bdf6fba8ad11",
                            "name": "codebaseName",
                            "value": "={{ $json.body.codebaseName }}",
                            "type": "string"
                        },
                        {
                            "id": "0efc45af-5d16-4ff0-b8cf-2ec45e567007",
                            "name": "agentFolder",
                            "value": "={{ $json.body.agentFolder }}",
                            "type": "string"
                        },
                        {
                            "id": "0537a4dd-22fd-4127-82aa-b48143a36c62",
                            "name": "nextTicket",
                            "value": "={{ $json.body.nextTicket }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-2240, 640],
            "id": "eda72399-fe80-4e29-913e-9e6ee28b397d",
            "name": "GlobalVars"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/development",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('GlobalVars').all()[0].json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [224, 544],
            "id": "d6d7980b-abb5-4d23-8061-218d326a9fa4",
            "name": "Trigger Dev Agent"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "qa",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [-2464, 544],
            "id": "1406d26a-fe15-456a-9ff4-50d81d6b0a62",
            "name": "QA Webhook",
            "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://n8n:5678/webhook/master",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('GlobalVars').all()[0].json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [672, 256],
            "id": "d68ae5d3-5ebc-48c8-afee-5ec0b3cbf667",
            "name": "Return to Master Handler"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "018a8e70-abb0-4b59-91f7-2aa71ab531a7",
                            "leftValue": "={{ $json.code }} ",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [448, 352],
            "id": "0804c2c1-6f3c-4079-9b78-e3a5353f6b42",
            "name": "Completed Branch Successfully"
        },
        {
            "parameters": {
                "errorMessage": "={{ $('Complete Feature').last().json.stdout }}"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [672, 448],
            "id": "8d1b16f6-7bce-4c47-a40d-9e82d00df0bf",
            "name": "Failed to Complete Branch"
        },
        {
            "parameters": {
                "command": "=bash $AGENT_REPO/src/api/scriptsts/n8n/git/checkout_branch.sh \"{{$json.codebaseId}}\" \"{{ $json.nextTicket.branchName }}\""
            },
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [-2016, 640],
            "id": "d83e60df-8e1b-4501-ad43-07bce13f2595",
            "name": "Switch to Git Branch",
            "credentials": {
                "sshPassword": {
                    "id": "rZo9VRK76TIBbM2v",
                    "name": "SSH Password account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "3e2bf146-4fd2-49da-bd8e-63d06c88daf5",
                            "leftValue": "={{ $json.code }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [-1792, 640],
            "id": "e27440b6-8473-48aa-afb7-101fbafbd53b",
            "name": "Switched to Branch"
        },
        {
            "parameters": {
                "errorMessage": "Failed to Switch to Correct Branch"
            },
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [-1568, 736],
            "id": "599dc75d-37b7-41f3-ba12-36eaf6e519f3",
            "name": "Incorrect Branch"
        }
    ],
    "pinData": {},
    "connections": {
        "Commit QA Work": {
            "main": [
                [
                    {
                        "node": "Check Ticket Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Prompt": {
            "main": [
                [
                    {
                        "node": "Launch QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch QA Agent": {
            "main": [
                [
                    {
                        "node": "QA Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Poll Delay": {
            "main": [
                [
                    {
                        "node": "Ping QA Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ping QA Agent": {
            "main": [
                [
                    {
                        "node": "QA Agent Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Agent Status": {
            "main": [
                [
                    {
                        "node": "Commit QA Work",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "QA Agent Failed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "QA Poll Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Complete Feature": {
            "main": [
                [
                    {
                        "node": "Completed Branch Successfully",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Ticket Status": {
            "main": [
                [
                    {
                        "node": "Passed QA?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Passed QA?": {
            "main": [
                [
                    {
                        "node": "Complete Feature",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Trigger Dev Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GlobalVars": {
            "main": [
                [
                    {
                        "node": "Switch to Git Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "GlobalVars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Completed Branch Successfully": {
            "main": [
                [
                    {
                        "node": "Return to Master Handler",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Failed to Complete Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch to Git Branch": {
            "main": [
                [
                    {
                        "node": "Switched to Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switched to Branch": {
            "main": [
                [
                    {
                        "node": "QA Prompt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Incorrect Branch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "24f45392-9fbe-4449-a4a0-63d57530c451",
    "meta": {
        "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
    },
    "id": "Kik6sadX2c3ffPIj",
    "tags": []
}
