docker/n8n/Agent Dev Workflow.json
{
  "name": "Agent Dev Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1936,
        -944
      ],
      "id": "31c4b57a-7928-4c7d-ae2c-4db746e10a58",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://app:3000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1712,
        -944
      ],
      "id": "6cd7cc16-4fed-4797-b5c6-d2c836dbedef",
      "name": "Check App is Running"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/tickets/scan",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        -80
      ],
      "id": "f4ae5d6d-db29-4f71-b560-3028046a5e49",
      "name": "Scan Tickets"
    },
    {
      "parameters": {
        "url": "http://app:3000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        0
      ],
      "id": "c7378a84-13d5-4d5c-b3e0-fa0b1bf2e649",
      "name": "Cleanup Job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1121ca2-dddc-4144-8b50-66a61d597f2d",
              "leftValue": "tickets",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -144
      ],
      "id": "28747963-a08f-4471-b5ec-7529d63d755a",
      "name": "Tickets Remaining?"
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -800,
        -240
      ],
      "id": "cec7c26f-2d80-45f1-869a-718bb9d0fe42",
      "name": "Setup Git Branch",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"QA Reviewing\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -576,
        0
      ],
      "id": "1b131ec3-81aa-40fa-8d56-4902cbb09c3e",
      "name": "Compress Project",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "options": {}
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -352,
        0
      ],
      "id": "de443197-ecf0-44f3-bfc4-7573296faa82",
      "name": "Download Project",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "=/app/dev/{{ $('Setup Codebase').item.json.data.folderName }}/agent/outline.md",
        "binaryPropertyName": "fileData",
        "options": {
          "fileName": "outline.md"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -368,
        -944
      ],
      "id": "25ebfe4d-032f-48f1-90c8-acb52c4ce981",
      "name": "Get Outline",
      "alwaysOutputData": false,
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.outlineData }}",
        "destinationKey": "outlineHtml",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        80,
        -944
      ],
      "id": "76f2ef47-862a-448b-bca6-83a9a8463557",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "fileData",
        "destinationKey": "outlineData",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        -944
      ],
      "id": "82cc2b6c-d70e-4427-a2b3-0f43b7e33d9c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -352,
        -320
      ],
      "id": "46e25227-6135-4f00-b555-9bb2c7c24c54",
      "name": "Commit Dev Work",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        96,
        -320
      ],
      "id": "ec50b570-60ef-49d1-9908-f19e2a925167",
      "name": "Commit QA Work",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        768,
        -240
      ],
      "id": "7ad344fc-1262-4457-a70f-242f62bda749",
      "name": "Merge Branch to Develop",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        992,
        -80
      ],
      "id": "c1e62dde-3dd9-43e3-8bdd-4bc02d80fad9",
      "name": "Next Ticket"
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        320,
        -320
      ],
      "id": "f7e0389f-57d2-47ac-a91c-23c258b8c33f",
      "name": "Check Passes QA?",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c4ccc88-9c8b-4336-8858-403210fd3ab2",
              "leftValue": "qa",
              "rightValue": "passed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        -240
      ],
      "id": "304ac997-fac9-4198-a5db-6b8000f5f920",
      "name": "Fails QA?"
    },
    {
      "parameters": {
        "content": "# Architect Agent",
        "height": 96,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -1104
      ],
      "typeVersion": 1,
      "id": "ff278ed4-4109-4dcc-8dc1-8c2ee7dcbb8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Project Manager Agent",
        "height": 80,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -736
      ],
      "typeVersion": 1,
      "id": "f421df73-5388-4f2d-886c-3e9a86a7821c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Dev Agent\n",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -352
      ],
      "typeVersion": 1,
      "id": "fcafdc26-7b23-4237-ba1d-8d6266a16349",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# QA Agent",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -416
      ],
      "typeVersion": 1,
      "id": "a9612620-d3ee-4621-bad4-e31e785a320b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1920,
        -640
      ],
      "id": "818c5884-a166-4b22-bc10-698c5aa26e91",
      "name": "Move to PM Stage"
    },
    {
      "parameters": {
        "command": "echo \"QA Reviewing\"",
        "cwd": "={{ $('Project Start Params1').first().json.projectPath }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -1040,
        -640
      ],
      "id": "52f379dc-21f0-4ad3-a48b-abaffce6229a",
      "name": "PM Git Commit",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Outline Created Confirmation",
        "formDescription": "The outline has been created.",
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "Outline ",
              "html": "<div style=\"border: 1px solid #ccc; padding: 10px; background: #f9f9f9;\">\n    {{ $json.outlineHtml }} \n</div>"
            }
          ]
        },
        "responseMode": "lastNode",
        "limitWaitTime": true,
        "resumeAmount": 3,
        "resumeUnit": "seconds",
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "redirect",
              "redirectUrl": "http://localhost:5678/form/d939ea0e-0c06-4ab6-a691-5adf6a299b14"
            }
          }
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        304,
        -944
      ],
      "id": "4c57be2e-5a1d-4a9c-8a24-6026c0d2ac9c",
      "name": "Sprint Planning Form Confirmation",
      "webhookId": "1cf15cfc-267b-4d3f-8321-f1e7421787a9"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Start New Project",
        "formDescription": "Enter the project details below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "My New Project",
              "requiredField": true
            },
            {
              "fieldLabel": "Project Folder",
              "placeholder": "mynewproject",
              "requiredField": true
            },
            {
              "fieldLabel": "Setup Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "node"
                  },
                  {
                    "option": "python"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Master Prompt",
              "fieldType": "textarea",
              "placeholder": "Obey me"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1936,
        -1168
      ],
      "id": "1513b4c7-a7c7-4851-8e7d-f0aee6f1bf4c",
      "name": "Project Start Form",
      "webhookId": "1cf15cfc-267b-4d3f-8321-f1e7421787a9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/commands/codebase/setup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        -944
      ],
      "id": "1b4565e2-70ee-4617-86d9-fa23d59aea47",
      "name": "Setup Codebase"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Tickets Review Confirmation",
        "formDescription": "Check the tickets and confirm these are okay",
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "Outline ",
              "html": "<div>\n  <p>Check the tickets with the following command</p>\n  <pre><code>\n    docker exec -it devslave-app-1 bash\n\n    cd {{ $('Project Start Params').first().json.projectPath }}/agent/tickets\n  </code></pre>\n</div>"
            }
          ]
        },
        "responseMode": "lastNode",
        "limitWaitTime": true,
        "resumeAmount": 3,
        "resumeUnit": "seconds",
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "redirect",
              "redirectUrl": "http://localhost:5678/form-test/d939ea0e-0c06-4ab6-a691-5adf6a299b14"
            }
          }
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -816,
        -640
      ],
      "id": "3c5fe103-f2de-4082-89ea-7f40fdf18fe1",
      "name": "Tickets Review Confirmation Form",
      "webhookId": "1cf15cfc-267b-4d3f-8321-f1e7421787a9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1920,
        -80
      ],
      "id": "79c832b5-949c-43b0-ac50-0165c934535e",
      "name": "Move to Development Stage"
    },
    {
      "parameters": {
        "formTitle": "Outline Confirmation",
        "formDescription": "Upload the corrected outline",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Outline File",
              "fieldType": "file",
              "acceptFileTypes": ".md",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1488,
        -640
      ],
      "id": "63c26a2c-7177-4d76-8b18-3f278ad70393",
      "name": "On Outline Confirmation",
      "webhookId": "d939ea0e-0c06-4ab6-a691-5adf6a299b14"
    },
    {
      "parameters": {
        "formTitle": "Outline Confirmation",
        "formDescription": "Upload the corrected outline",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Outline File",
              "fieldType": "file",
              "acceptFileTypes": ".md",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1472,
        -80
      ],
      "id": "4f041e73-4918-4031-991b-1013104b0a4c",
      "name": "On Tickets Confirmation",
      "webhookId": "a4170261-8a52-4723-9d4d-aadb72f59110"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
              "name": "architect_prompt",
              "value": "You are an engineering architect. Please read agent/onboarding/architect.md to get started",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -944
      ],
      "id": "40dc50e4-2296-4a70-b649-085023467156",
      "name": "Architect Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agent/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"codebaseId\": \"{{ $('Setup Codebase').item.json.data.codebaseId }}\",\n  \"prompt\": \"{{ $json.architect_prompt }}\",\n  \"role\": \"architect\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        -944
      ],
      "id": "ef87ab64-cf88-449d-9751-3d112fa87628",
      "name": "Run Architect Agent"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/agent/launch",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        -240
      ],
      "id": "c1abee89-38dd-4c63-9274-e58a64811a0c",
      "name": "Run Developer Agent"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/agent/launch",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        -640
      ],
      "id": "a5a714f2-b3d5-46ff-aa89-8bf81e94cc36",
      "name": "Run Project Manager"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/agent/launch",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -320
      ],
      "id": "60202cfc-1291-4f70-9466-e9ae94837515",
      "name": "Run QA Agent"
    },
    {
      "parameters": {
        "command": "=bash $AGENT_REPO/src/scripts/git/git_commit.sh \"{{ $json.data.codebaseId }}\" \"Finished architect outline\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -592,
        -944
      ],
      "id": "9680771e-67df-45bf-8a60-96cb6188e2f0",
      "name": "Architect Git Commit",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"name\": \"{{ $json.Name }}\",\n  \"folderName\": \"{{ $json['Project Folder'] }}\",\n  \"setup\": \"{{ $json['Setup Type'] }}\",\n  \"prompt\": \"{{ $json['Master Prompt'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        -1168
      ],
      "id": "bd333540-8807-4365-bf19-c83c98c5356e",
      "name": "Project Start Params1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"name\": \"Prime Number Finder\",\n  \"folderName\": \"primenumberfinder\",\n  \"setup\": \"python\",\n  \"prompt\": \"Write a program that finds all prime numbers\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        -944
      ],
      "id": "7f46393f-3159-4cf6-a34d-56738c69089b",
      "name": "Project Start Params"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Check App is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check App is Running": {
      "main": [
        [
          {
            "node": "Project Start Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Tickets": {
      "main": [
        [
          {
            "node": "Tickets Remaining?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Job": {
      "main": [
        [
          {
            "node": "Compress Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets Remaining?": {
      "main": [
        [
          {
            "node": "Setup Git Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Git Branch": {
      "main": [
        [
          {
            "node": "Run Developer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Project": {
      "main": [
        [
          {
            "node": "Download Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outline": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Sprint Planning Form Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Dev Work": {
      "main": [
        [
          {
            "node": "Run QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit QA Work": {
      "main": [
        [
          {
            "node": "Check Passes QA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branch to Develop": {
      "main": [
        [
          {
            "node": "Next Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Ticket": {
      "main": [
        [
          {
            "node": "Scan Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Passes QA?": {
      "main": [
        [
          {
            "node": "Fails QA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fails QA?": {
      "main": [
        [
          {
            "node": "Run Developer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Branch to Develop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Git Commit": {
      "main": [
        [
          {
            "node": "Tickets Review Confirmation Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprint Planning Form Confirmation": {
      "main": [
        [
          {
            "node": "Move to PM Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Start Form": {
      "main": [
        [
          {
            "node": "Project Start Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Codebase": {
      "main": [
        [
          {
            "node": "Architect Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets Review Confirmation Form": {
      "main": [
        [
          {
            "node": "Move to Development Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Outline Confirmation": {
      "main": [
        [
          {
            "node": "Run Project Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Tickets Confirmation": {
      "main": [
        [
          {
            "node": "Scan Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Prompt": {
      "main": [
        [
          {
            "node": "Run Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Architect Agent": {
      "main": [
        [
          {
            "node": "Architect Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Developer Agent": {
      "main": [
        [
          {
            "node": "Commit Dev Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Project Manager": {
      "main": [
        [
          {
            "node": "PM Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run QA Agent": {
      "main": [
        [
          {
            "node": "Commit QA Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Git Commit": {
      "main": [
        [
          {
            "node": "Get Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Start Params1": {
      "main": [
        []
      ]
    },
    "Project Start Params": {
      "main": [
        [
          {
            "node": "Setup Codebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf42819d-8405-4e99-8183-d8b3fd5453b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
  },
  "id": "pTDm0kMJmZWbzo1d",
  "tags": []
}