docker/n8n/Agent Dev Workflow.json
{
  "name": "Agent Dev Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1936,
        -944
      ],
      "id": "31c4b57a-7928-4c7d-ae2c-4db746e10a58",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://app:3000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1712,
        -944
      ],
      "id": "6cd7cc16-4fed-4797-b5c6-d2c836dbedef",
      "name": "Check App is Running"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/tickets/scan",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1296,
        80
      ],
      "id": "f4ae5d6d-db29-4f71-b560-3028046a5e49",
      "name": "Scan Tickets"
    },
    {
      "parameters": {
        "url": "http://app:3000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        144
      ],
      "id": "c7378a84-13d5-4d5c-b3e0-fa0b1bf2e649",
      "name": "Cleanup Job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1121ca2-dddc-4144-8b50-66a61d597f2d",
              "leftValue": "tickets",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        0
      ],
      "id": "28747963-a08f-4471-b5ec-7529d63d755a",
      "name": "Tickets Remaining?"
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -848,
        -96
      ],
      "id": "cec7c26f-2d80-45f1-869a-718bb9d0fe42",
      "name": "Setup Git Branch",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"QA Reviewing\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -624,
        144
      ],
      "id": "1b131ec3-81aa-40fa-8d56-4902cbb09c3e",
      "name": "Compress Project",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "/test.md",
        "options": {}
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -400,
        144
      ],
      "id": "de443197-ecf0-44f3-bfc4-7573296faa82",
      "name": "Download Project",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "=/app/dev/{{ $('Setup Codebase').item.json.data.folderName }}/agent/outline.md",
        "binaryPropertyName": "fileData",
        "options": {
          "fileName": "outline.md"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        32,
        -944
      ],
      "id": "25ebfe4d-032f-48f1-90c8-acb52c4ce981",
      "name": "Get Outline",
      "alwaysOutputData": false,
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.outlineData }}",
        "destinationKey": "outlineHtml",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        480,
        -944
      ],
      "id": "76f2ef47-862a-448b-bca6-83a9a8463557",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "fileData",
        "destinationKey": "outlineData",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        256,
        -944
      ],
      "id": "82cc2b6c-d70e-4427-a2b3-0f43b7e33d9c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -400,
        -160
      ],
      "id": "46e25227-6135-4f00-b555-9bb2c7c24c54",
      "name": "Commit Dev Work",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        48,
        -160
      ],
      "id": "ec50b570-60ef-49d1-9908-f19e2a925167",
      "name": "Commit QA Work",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        720,
        -96
      ],
      "id": "7ad344fc-1262-4457-a70f-242f62bda749",
      "name": "Merge Branch to Develop",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        80
      ],
      "id": "c1e62dde-3dd9-43e3-8bdd-4bc02d80fad9",
      "name": "Next Ticket"
    },
    {
      "parameters": {
        "command": "echo \"Project Manager Started\"",
        "cwd": "/dev"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        272,
        -160
      ],
      "id": "f7e0389f-57d2-47ac-a91c-23c258b8c33f",
      "name": "Check Passes QA?",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c4ccc88-9c8b-4336-8858-403210fd3ab2",
              "leftValue": "qa",
              "rightValue": "passed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -96
      ],
      "id": "304ac997-fac9-4198-a5db-6b8000f5f920",
      "name": "Fails QA?"
    },
    {
      "parameters": {
        "content": "# Architect Agent",
        "height": 80,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -1120
      ],
      "typeVersion": 1,
      "id": "ff278ed4-4109-4dcc-8dc1-8c2ee7dcbb8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Project Manager Agent",
        "height": 80,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -656
      ],
      "typeVersion": 1,
      "id": "f421df73-5388-4f2d-886c-3e9a86a7821c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Dev Agent\n",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -208
      ],
      "typeVersion": 1,
      "id": "fcafdc26-7b23-4237-ba1d-8d6266a16349",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# QA Agent",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -240
      ],
      "typeVersion": 1,
      "id": "a9612620-d3ee-4621-bad4-e31e785a320b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Start New Project",
        "formDescription": "Enter the project details below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "My New Project",
              "requiredField": true
            },
            {
              "fieldLabel": "Project Folder",
              "placeholder": "mynewproject",
              "requiredField": true
            },
            {
              "fieldLabel": "Setup Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "node"
                  },
                  {
                    "option": "python"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Master Prompt",
              "fieldType": "textarea",
              "placeholder": "Obey me"
            },
            {
              "fieldLabel": "Debug Mode",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Debug Mode"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1504,
        -944
      ],
      "id": "1513b4c7-a7c7-4851-8e7d-f0aee6f1bf4c",
      "name": "Project Start Form",
      "webhookId": "1cf15cfc-267b-4d3f-8321-f1e7421787a9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/codebase/setup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        -944
      ],
      "id": "1b4565e2-70ee-4617-86d9-fa23d59aea47",
      "name": "Setup Codebase"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Tickets Review Confirmation",
        "formDescription": "Check the tickets and confirm these are okay",
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "Outline ",
              "html": "<div>\n  <p>Check the tickets with the following command</p>\n  <pre><code>\n    docker exec -it devslave-app-1 bash\n\n    cd {{ $('Project Start Params').first().json.projectPath }}/agent/tickets\n  </code></pre>\n</div>"
            }
          ]
        },
        "responseMode": "lastNode",
        "limitWaitTime": true,
        "resumeAmount": 3,
        "resumeUnit": "seconds",
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "redirect",
              "redirectUrl": "http://localhost:5678/form-test/d939ea0e-0c06-4ab6-a691-5adf6a299b14"
            }
          }
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        -528
      ],
      "id": "3c5fe103-f2de-4082-89ea-7f40fdf18fe1",
      "name": "Tickets Review Confirmation Form",
      "webhookId": "1cf15cfc-267b-4d3f-8321-f1e7421787a9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1936,
        80
      ],
      "id": "79c832b5-949c-43b0-ac50-0165c934535e",
      "name": "Move to Development Stage"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
              "name": "architect_prompt",
              "value": "You are an engineering architect. Please read agent/onboarding/architect.md to get started",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -944
      ],
      "id": "40dc50e4-2296-4a70-b649-085023467156",
      "name": "Architect Prompt"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/agent/launch",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -96
      ],
      "id": "c1abee89-38dd-4c63-9274-e58a64811a0c",
      "name": "Run Developer Agent"
    },
    {
      "parameters": {
        "url": "http://app:3000/api/agent/launch",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -160
      ],
      "id": "60202cfc-1291-4f70-9466-e9ae94837515",
      "name": "Run QA Agent"
    },
    {
      "parameters": {
        "command": "=bash $AGENT_REPO/src/scripts/git/git_commit.sh \"{{ $json.data.codebaseId }}\" \"Finished architect outline\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -192,
        -944
      ],
      "id": "9680771e-67df-45bf-8a60-96cb6188e2f0",
      "name": "Architect Git Commit",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Outline Created Confirmation",
        "formDescription": "The outline has been created.",
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "Outline ",
              "html": "<div style=\"border: 1px solid #ccc; padding: 10px; background: #f9f9f9;\">\n    {{ $json.outlineHtml }} \n</div>"
            },
            {
              "fieldName": "codebaseId",
              "fieldType": "hiddenField",
              "fieldValue": "=\"{{ $('Setup Codebase').item.json.data.codebaseId }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        -944
      ],
      "id": "4c57be2e-5a1d-4a9c-8a24-6026c0d2ac9c",
      "name": "Outline Confirmation Form",
      "webhookId": "1cf15cfc-267b-4d3f-8321-f1e7421787a9"
    },
    {
      "parameters": {
        "command": "=bash $AGENT_REPO/src/scripts/git/git_commit.sh \"{{ $('PM Webhook').item.json.data.codebaseId }}\" \"Finished project sprint planning\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -624,
        -528
      ],
      "id": "004aa5cf-c0b8-450b-9b72-02574a1678ca",
      "name": "PM Git Commit",
      "credentials": {
        "sshPassword": {
          "id": "cubrUaryfoxjprAQ",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agent/execute-async",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"callbackUrl\": \"{{ $execution.resumeUrl }}\",\n  \"codebaseId\": \"{{ $('Setup Codebase').item.json.data.codebaseId }}\",\n  \"prompt\": \"{{ $json.architect_prompt }}\",\n  \"role\": \"architect\",\n  \"debugMode\": {{ $('Setup Codebase').item.json.data.debugMode }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -944
      ],
      "id": "ef87ab64-cf88-449d-9751-3d112fa87628",
      "name": "Launch Architect Agent"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "webhookSuffix": ""
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -416,
        -944
      ],
      "id": "3f9a073f-723b-49e5-8fb5-4d06b0a09b3c",
      "name": "Wait For Architect",
      "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3000/api/agent/execute-async",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"callbackUrl\": \"{{ $execution.resumeUrl }}\",\n  \"codebaseId\": \"{{ $('PM Webhook').item.json.body.codebaseId }}\",\n  \"prompt\": \"{{ $json.pm_prompt }}\",\n  \"role\": \"manager\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        -528
      ],
      "id": "ccc6dd5c-6645-4de5-8af1-43780ea03126",
      "name": "Launch PM Agent"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "webhookSuffix": ""
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        -528
      ],
      "id": "65379720-9625-4834-8358-e69c623b685a",
      "name": "Wait for PM Agent",
      "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"executionId\": \"{{ $execution.id }}\",\n  \"name\": \"{{ $json.Name }}\",\n  \"folderName\": \"{{ $json['Project Folder'] }}\",\n  \"setup\": \"{{ $json['Setup Type'] }}\",\n  \"prompt\": \"{{ $json['Master Prompt'] }}\",\n  \"debugMode\": {{ $json['Debug Mode'][0] == \"Debug Mode\"}},\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        -944
      ],
      "id": "bd333540-8807-4365-bf19-c83c98c5356e",
      "name": "Project Start Params"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
              "name": "pm_prompt",
              "value": "You are an expert software project manager. Please read agent/onboarding/project-manager.md to get started",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -528
      ],
      "id": "69323c38-284d-417d-bde5-533e0523f751",
      "name": "PM Prompt"
    },
    {
      "parameters": {
        "path": "8ce66692-5b28-4ad1-99de-ced12abe5d75",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        80
      ],
      "id": "ebc815b6-d4a6-46e3-9f24-1d11da26ad36",
      "name": "Dev Flow Start Webhook",
      "webhookId": "8ce66692-5b28-4ad1-99de-ced12abe5d75"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8ce66692-5b28-4ad1-99de-ced12abe5d75",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        -528
      ],
      "id": "6480f46a-fa83-4294-8899-c722303cd036",
      "name": "PM Webhook",
      "webhookId": "8ce66692-5b28-4ad1-99de-ced12abe5d75"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/8ce66692-5b28-4ad1-99de-ced12abe5d75",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "codebaseId",
              "value": "={{ $json.codebaseId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        -528
      ],
      "id": "87a1f57f-523c-4386-b18f-c4b2b2d6f6a1",
      "name": "Move to PM Stage"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Check App is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check App is Running": {
      "main": [
        [
          {
            "node": "Project Start Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Tickets": {
      "main": [
        [
          {
            "node": "Tickets Remaining?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Job": {
      "main": [
        [
          {
            "node": "Compress Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets Remaining?": {
      "main": [
        [
          {
            "node": "Setup Git Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Git Branch": {
      "main": [
        [
          {
            "node": "Run Developer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Project": {
      "main": [
        [
          {
            "node": "Download Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outline": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Outline Confirmation Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Dev Work": {
      "main": [
        [
          {
            "node": "Run QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit QA Work": {
      "main": [
        [
          {
            "node": "Check Passes QA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branch to Develop": {
      "main": [
        [
          {
            "node": "Next Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Ticket": {
      "main": [
        [
          {
            "node": "Scan Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Passes QA?": {
      "main": [
        [
          {
            "node": "Fails QA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fails QA?": {
      "main": [
        [
          {
            "node": "Run Developer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Branch to Develop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Start Form": {
      "main": [
        [
          {
            "node": "Project Start Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Codebase": {
      "main": [
        [
          {
            "node": "Architect Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets Review Confirmation Form": {
      "main": [
        [
          {
            "node": "Move to Development Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Prompt": {
      "main": [
        [
          {
            "node": "Launch Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Developer Agent": {
      "main": [
        [
          {
            "node": "Commit Dev Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run QA Agent": {
      "main": [
        [
          {
            "node": "Commit QA Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Git Commit": {
      "main": [
        [
          {
            "node": "Get Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Confirmation Form": {
      "main": [
        [
          {
            "node": "Move to PM Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Git Commit": {
      "main": [
        [
          {
            "node": "Tickets Review Confirmation Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Architect Agent": {
      "main": [
        [
          {
            "node": "Wait For Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Architect": {
      "main": [
        [
          {
            "node": "Architect Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch PM Agent": {
      "main": [
        [
          {
            "node": "Wait for PM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for PM Agent": {
      "main": [
        [
          {
            "node": "PM Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Start Params": {
      "main": [
        [
          {
            "node": "Setup Codebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Prompt": {
      "main": [
        [
          {
            "node": "Launch PM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Flow Start Webhook": {
      "main": [
        [
          {
            "node": "Scan Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Webhook": {
      "main": [
        [
          {
            "node": "PM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4781e5f-3e0c-4990-a149-35b5e6f95784",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e635324719453f8eda7bff9af30e3ba6f4a8f628dfcb25ef020836b188e623f"
  },
  "id": "pTDm0kMJmZWbzo1d",
  "tags": []
}