test/fixtures/n8n-running-logs.json
{
    "id": "91",
    "finished": false,
    "mode": "webhook",
    "retryOf": null,
    "retrySuccessId": null,
    "status": "running",
    "createdAt": "2025-11-11T18:54:44.539Z",
    "startedAt": "2025-11-11T18:54:44.553Z",
    "stoppedAt": null,
    "deletedAt": null,
    "workflowId": "SJZoRz7jpPdrhCfz",
    "waitTill": null,
    "data": {
        "startData": {},
        "resultData": {
            "runData": {}
        },
        "executionData": {
            "contextData": {},
            "nodeExecutionStack": [
                {
                    "node": {
                        "parameters": {
                            "multipleMethods": false,
                            "httpMethod": "POST",
                            "path": "developer",
                            "authentication": "none",
                            "responseMode": "responseNode",
                            "webhookNotice": "",
                            "options": {}
                        },
                        "type": "n8n-nodes-base.webhook",
                        "typeVersion": 2.1,
                        "position": [-2608, 592],
                        "id": "65162718-9c07-4fb6-9092-c3ea6166d625",
                        "name": "Dev Webhook",
                        "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
                    },
                    "data": {
                        "main": [
                            [
                                {
                                    "json": {
                                        "headers": {
                                            "host": "localhost:5678",
                                            "connection": "keep-alive",
                                            "content-type": "application/json",
                                            "accept": "*/*",
                                            "accept-language": "*",
                                            "sec-fetch-mode": "cors",
                                            "user-agent": "node",
                                            "accept-encoding": "gzip, deflate",
                                            "content-length": "114"
                                        },
                                        "params": {},
                                        "query": {},
                                        "body": {
                                            "codebaseId": "cmhu68csy001mtj9jvbleu9tj",
                                            "codebaseName": "AlwaysForward API",
                                            "debugMode": false,
                                            "role": "developer"
                                        },
                                        "webhookUrl": "http://localhost:5678/webhook/developer",
                                        "executionMode": "production"
                                    }
                                }
                            ]
                        ]
                    },
                    "source": null
                }
            ],
            "waitingExecution": {}
        }
    },
    "workflowData": {
        "connections": {
            "Scan Tickets": {
                "main": [
                    [
                        {
                            "node": "Next Ticket Router",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Commit Dev Work": {
                "main": [
                    [
                        {
                            "node": "In QA",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Commit QA Work": {
                "main": [
                    [
                        {
                            "node": "Check Ticket Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Launch Dev Agent": {
                "main": [
                    [
                        {
                            "node": "Dev Poll Delay",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "QA Prompt": {
                "main": [
                    [
                        {
                            "node": "Launch QA Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Launch QA Agent": {
                "main": [
                    [
                        {
                            "node": "QA Poll Delay",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Dev Prompt": {
                "main": [
                    [
                        {
                            "node": "Launch Dev Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Dev Poll Delay": {
                "main": [
                    [
                        {
                            "node": "Ping Dev Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Ping Dev Agent": {
                "main": [
                    [
                        {
                            "node": "Dev Agent Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "QA Poll Delay": {
                "main": [
                    [
                        {
                            "node": "Ping QA Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Ping QA Agent": {
                "main": [
                    [
                        {
                            "node": "QA Agent Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Dev Agent Status": {
                "main": [
                    [
                        {
                            "node": "Commit Dev Work",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Dev Agent Failed",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Dev Poll Delay",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "QA Agent Status": {
                "main": [
                    [
                        {
                            "node": "Commit QA Work",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "QA Agent Failed",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "QA Poll Delay",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Complete Feature": {
                "main": [
                    [
                        {
                            "node": "Scan Tickets",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Next Ticket Router": {
                "main": [
                    [
                        {
                            "node": "In Development",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "In QA",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Project Completed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "In QA": {
                "main": [
                    [
                        {
                            "node": "QA Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Ticket Status": {
                "main": [
                    [
                        {
                            "node": "Passed QA?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Passed QA?": {
                "main": [
                    [
                        {
                            "node": "Complete Feature",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Dev Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "In Development": {
                "main": [
                    [
                        {
                            "node": "Switch to Git Branch",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Switch to Git Branch": {
                "main": [
                    [
                        {
                            "node": "Dev Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Dev Webhook": {
                "main": [
                    [
                        {
                            "node": "Scan Tickets",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "nodes": [
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "POST",
                    "url": "http://app:3000/api/tickets/scan",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": true,
                    "contentType": "json",
                    "specifyBody": "keypair",
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "executionId",
                                "value": "={{ $execution.id }}"
                            },
                            {
                                "name": "codebaseId",
                                "value": "={{ $json.body.codebaseId }}"
                            }
                        ]
                    },
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [-2384, 688],
                "id": "ddd414db-b734-48bd-9071-d645f00b7aad",
                "name": "Scan Tickets"
            },
            {
                "parameters": {
                    "authentication": "password",
                    "resource": "command",
                    "operation": "execute",
                    "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{ $('Dev Webhook').item.json.body.codebaseId }}\" \"Finished work for ticket {{ $('Scan Tickets').item.json.data.nextTicket.id }}\"",
                    "cwd": "/"
                },
                "type": "n8n-nodes-base.ssh",
                "typeVersion": 1,
                "position": [-368, 32],
                "id": "df8be668-534a-4cf9-805e-3f341f63fe1d",
                "name": "Commit Dev Work",
                "credentials": {
                    "sshPassword": {
                        "id": "rZo9VRK76TIBbM2v",
                        "name": "SSH Password account"
                    }
                }
            },
            {
                "parameters": {
                    "authentication": "password",
                    "resource": "command",
                    "operation": "execute",
                    "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_commit.sh \"{{ $('Dev Webhook').item.json.body.codebaseId }}\" \"QA review finished for {{ $('Scan Tickets').item.json.data.nextTicket.id }}\"",
                    "cwd": "/"
                },
                "type": "n8n-nodes-base.ssh",
                "typeVersion": 1,
                "position": [1216, 448],
                "id": "ea3d9f4b-c7e9-4eed-b7fb-d9854274e525",
                "name": "Commit QA Work",
                "credentials": {
                    "sshPassword": {
                        "id": "rZo9VRK76TIBbM2v",
                        "name": "SSH Password account"
                    }
                }
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "POST",
                    "url": "http://app:3000/api/agent/start",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": true,
                    "contentType": "json",
                    "specifyBody": "keypair",
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "executionId",
                                "value": "={{ $execution.id }}"
                            },
                            {
                                "name": "codebaseId",
                                "value": "={{ $('Dev Webhook').item.json.body.codebaseId }}"
                            },
                            {
                                "name": "prompt",
                                "value": "={{ $('Dev Prompt').item.json.dev_prompt }}"
                            },
                            {
                                "name": "role",
                                "value": "developer"
                            },
                            {
                                "name": "debugMode",
                                "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                            }
                        ]
                    },
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [-1264, 176],
                "id": "a3341c3c-e95c-44e0-878b-cc6cfc283c8d",
                "name": "Launch Dev Agent"
            },
            {
                "parameters": {
                    "mode": "manual",
                    "duplicateItem": false,
                    "assignments": {
                        "assignments": [
                            {
                                "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                                "name": "qa_prompt",
                                "value": "=You are an expert quality assurance engineer. You have been assigned ticket {{ $('Scan Tickets').item.json.data.nextTicket.ticketId }}. Please read agent/onboarding/qa.md and then {{ $('Scan Tickets').item.json.data.nextTicket.ticketFile }} to get started.",
                                "type": "string"
                            }
                        ]
                    },
                    "includeOtherFields": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [96, 544],
                "id": "ea29ba87-a32b-4540-8fdd-93adbf9a0ede",
                "name": "QA Prompt"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "POST",
                    "url": "http://app:3000/api/agent/start",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": true,
                    "contentType": "json",
                    "specifyBody": "keypair",
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "executionId",
                                "value": "={{ $execution.id }}"
                            },
                            {
                                "name": "codebaseId",
                                "value": "={{ $('Scan Tickets').item.json.data.codebaseId }}"
                            },
                            {
                                "name": "prompt",
                                "value": "={{ $json.qa_prompt }}"
                            },
                            {
                                "name": "role",
                                "value": "qa"
                            },
                            {
                                "name": "debugMode",
                                "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                            }
                        ]
                    },
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [320, 544],
                "id": "bd45edc9-5d20-4bf9-be40-eff50715b73a",
                "name": "Launch QA Agent"
            },
            {
                "parameters": {
                    "mode": "manual",
                    "duplicateItem": false,
                    "assignments": {
                        "assignments": [
                            {
                                "id": "9d1cef08-e7c5-4301-985a-f33f1bbf42ca",
                                "name": "dev_prompt",
                                "value": "=You are an expert senior software engineer. You have been assigned ticket {{ $('Scan Tickets').item.json.data.nextTicket.ticketId }}. Please read agent/onboarding/engineer.md and then {{ $('Scan Tickets').item.json.data.nextTicket.ticketFile }} to get started.",
                                "type": "string"
                            }
                        ]
                    },
                    "includeOtherFields": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [-1488, 256],
                "id": "fdc7ec20-07ad-479e-91b9-adaf0bd2d13b",
                "name": "Dev Prompt"
            },
            {
                "parameters": {
                    "resume": "timeInterval",
                    "amount": 5,
                    "unit": "seconds"
                },
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1.1,
                "position": [-1040, 176],
                "id": "d535f174-f7c0-4b28-beb1-f38dadfb5b84",
                "name": "Dev Poll Delay",
                "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": true,
                    "specifyQuery": "keypair",
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "debugMode",
                                "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                            }
                        ]
                    },
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [-816, 32],
                "id": "e0e57565-5417-4214-80a8-ef56a4320af0",
                "name": "Ping Dev Agent"
            },
            {
                "parameters": {
                    "resume": "timeInterval",
                    "amount": 5,
                    "unit": "seconds"
                },
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1.1,
                "position": [544, 544],
                "id": "0ac745ac-4826-4d07-810c-8dadfb56c9d7",
                "name": "QA Poll Delay",
                "webhookId": "45bed31d-4473-4c63-804e-5ab4171a6046"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://app:3000/api/agent/{{ $json.data.agentId }}/status",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": true,
                    "specifyQuery": "keypair",
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "debugMode",
                                "value": "={{ $('Dev Webhook').item.json.body.debugMode }}"
                            }
                        ]
                    },
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [768, 480],
                "id": "dd767fbb-73d1-4e1a-bc84-3825b208b3cc",
                "name": "Ping QA Agent"
            },
            {
                "parameters": {
                    "errorType": "errorMessage",
                    "errorMessage": "Dev Agent Failed"
                },
                "type": "n8n-nodes-base.stopAndError",
                "typeVersion": 1,
                "position": [-368, 192],
                "id": "48bf697d-50d4-4762-a199-b31f231c3221",
                "name": "Dev Agent Failed"
            },
            {
                "parameters": {
                    "mode": "rules",
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.data.status }}",
                                            "rightValue": "COMPLETED",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            },
                                            "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                            "leftValue": "={{ $json.data.status }}",
                                            "rightValue": "FAILED",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals",
                                                "name": "filter.operator.equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                            "leftValue": "={{ $json.data.status }}",
                                            "rightValue": "RUNNING",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals",
                                                "name": "filter.operator.equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            }
                        ]
                    },
                    "looseTypeValidation": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.3,
                "position": [-592, 160],
                "id": "23e00e4d-40c5-4b7f-b1f9-90cdb9933eaa",
                "name": "Dev Agent Status"
            },
            {
                "parameters": {
                    "mode": "rules",
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.data.status }}",
                                            "rightValue": "COMPLETED",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            },
                                            "id": "91206cf7-6d2e-46af-84e5-19d60a718404"
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "88a54ecf-c5f3-4fa9-84ba-be8c60d9de38",
                                            "leftValue": "={{ $json.data.status }}",
                                            "rightValue": "FAILED",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals",
                                                "name": "filter.operator.equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "70dcdcf1-f3ae-4f06-8ac8-92628247ccc0",
                                            "leftValue": "={{ $json.data.status }}",
                                            "rightValue": "RUNNING",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals",
                                                "name": "filter.operator.equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            }
                        ]
                    },
                    "looseTypeValidation": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.3,
                "position": [992, 528],
                "id": "3bc97a9a-fafe-42a5-b26f-10663872b4b4",
                "name": "QA Agent Status"
            },
            {
                "parameters": {
                    "errorType": "errorMessage",
                    "errorMessage": "QA Agent Failed"
                },
                "type": "n8n-nodes-base.stopAndError",
                "typeVersion": 1,
                "position": [1216, 640],
                "id": "9de5462c-1bd4-4b22-a27a-79e77544a7d3",
                "name": "QA Agent Failed"
            },
            {
                "parameters": {
                    "authentication": "password",
                    "resource": "command",
                    "operation": "execute",
                    "command": "=bash $AGENT_REPO/src/scripts/n8n/git/complete_feature.sh \"{{ $('Dev Params').item.json.codebaseId }}\"",
                    "cwd": "/"
                },
                "type": "n8n-nodes-base.ssh",
                "typeVersion": 1,
                "position": [1888, 944],
                "id": "01d09cda-fe20-4ef0-bf71-f31d0e781f9c",
                "name": "Complete Feature",
                "credentials": {
                    "sshPassword": {
                        "id": "rZo9VRK76TIBbM2v",
                        "name": "SSH Password account"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "rules",
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "3b724128-1f34-4069-9804-83b084ee703e",
                                            "leftValue": "={{ [\"OPEN\", \"QA_CHANGES_REQUESTED\"] }}",
                                            "rightValue": "={{ $json.data.nextTicket.status }}",
                                            "operator": {
                                                "type": "array",
                                                "operation": "contains",
                                                "rightType": "any"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "id": "797ba88c-a94a-4c26-82d2-bad7528d2280",
                                            "leftValue": "={{ $json.data.nextTicket.status }}",
                                            "rightValue": "QA_REVIEW",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals",
                                                "name": "filter.operator.equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.data.nextTicket.id }}",
                                            "rightValue": "",
                                            "operator": {
                                                "type": "string",
                                                "operation": "notExists",
                                                "singleValue": true
                                            },
                                            "id": "6ad3e92c-152d-4a32-be0d-4df6ee4e156d"
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": false
                            }
                        ]
                    },
                    "looseTypeValidation": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.3,
                "position": [-2160, 528],
                "id": "c1274209-8f55-4d2f-a3e8-f91a92449a2e",
                "name": "Next Ticket Router"
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.noOp",
                "typeVersion": 1,
                "position": [-128, 544],
                "id": "c7dcdb5f-580c-4de1-a6d3-04dc82f862ac",
                "name": "In QA"
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.noOp",
                "typeVersion": 1,
                "position": [-1936, 688],
                "id": "c03282e7-b309-47a7-a80b-c76ff41b19c9",
                "name": "Project Completed"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://app:3000/api/tickets/{{ $('Scan Tickets').item.json.data.nextTicket.id }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [1440, 448],
                "id": "407bcb6f-18cd-4277-a94d-e0fe115938e0",
                "name": "Check Ticket Status"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 2
                        },
                        "conditions": [
                            {
                                "id": "6c4ccc88-9c8b-4336-8858-403210fd3ab2",
                                "leftValue": "={{ $json.data.ticket.status }}",
                                "rightValue": "CLOSED",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals",
                                    "name": "filter.operator.equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "looseTypeValidation": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [1664, 704],
                "id": "4d3d11f4-14da-4ec5-bb56-b761e18aba38",
                "name": "Passed QA?"
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.noOp",
                "typeVersion": 1,
                "position": [-1936, 256],
                "id": "3f9248b0-7a4e-400f-ad58-f61023857bfd",
                "name": "In Development"
            },
            {
                "parameters": {
                    "authentication": "password",
                    "resource": "command",
                    "operation": "execute",
                    "command": "=bash $AGENT_REPO/src/scripts/n8n/git/git_branch.sh \"{{ $('Dev Webhook').item.json.body.codebaseId }}\" \"{{ $('Scan Tickets').item.json.data.nextTicket.branchName }}\"",
                    "cwd": "/"
                },
                "type": "n8n-nodes-base.ssh",
                "typeVersion": 1,
                "position": [-1712, 256],
                "id": "6134870d-45c1-4d9c-9e89-57e58e71e4b7",
                "name": "Switch to Git Branch",
                "credentials": {
                    "sshPassword": {
                        "id": "rZo9VRK76TIBbM2v",
                        "name": "SSH Password account"
                    }
                }
            },
            {
                "parameters": {
                    "multipleMethods": false,
                    "httpMethod": "POST",
                    "path": "developer",
                    "authentication": "none",
                    "responseMode": "responseNode",
                    "webhookNotice": "",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [-2608, 592],
                "id": "65162718-9c07-4fb6-9092-c3ea6166d625",
                "name": "Dev Webhook",
                "webhookId": "8d5b4acb-4bed-4b9f-a20f-71ea26230096"
            },
            {
                "parameters": {
                    "enableResponseOutput": false,
                    "generalNotice": "",
                    "respondWith": "json",
                    "webhookNotice": "",
                    "responseBody": "={\n  \"message\": \"Workflow was started\",\n  \"executionId\": {{ $execution.id }},\n  \"executionUrl\": \"127.0.0.1:5678/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.4,
                "position": [-2384, 496],
                "id": "861d95d9-39a9-4f63-9b96-a56271cb4a17",
                "name": "Respond to Webhook"
            }
        ],
        "name": "Dev Agent Workflow",
        "settings": {
            "executionOrder": "v1"
        },
        "id": "SJZoRz7jpPdrhCfz"
    },
    "customData": {}
}
